
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/aboutus.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" style="background-color: #12192c;">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myNavbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
              </div><a class="navbar-brand" href="#">INVOICE VALIDATOR</a>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                  <li ><a href="/">Home</a></li>
                  <li ><a href="/billing">Billing</a></li>
                  <li  class="active"><a href="#">About us</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="background">
            <img src="https://img.freepik.com/free-vector/illustration-data-analysis-graph_53876-18130.jpg?w=1380&t=st=1682416995~exp=1682417595~hmac=81342bceb9271b338d2367311119859b253ef129ceee4e233aa78f5dbecce8f9" alt="">
        </div>
        <section class="section" >
            
            
            <div class = "image">
                <h2>ABOUT SYSTEM</h2>
                <span></span>
              
                <p>This is web application  for fake invoice detection. Our team has developed a web application that is designed to automate the process of detecting invoices from Images. The purpose of this software is to help businesses and individuals streamline their invoicing processes by reducing the time and effort required to manually identify and extract relevant information from invoices. Our application uses state-of-the-art machine learning algorithms to recognize and extract important information such as the date, vendor name, and total amount due from the uploaded invoices. We believe that our project will make a valuable contribution to the field of Finance automation and we are excited to share it with the world</p>
            </div>
            
            <div class = "content">
                
                <h2>About Us</h2>
                <span></span>
                <p> </p>
                <ul class = "links">
                    <li><a href = "#">Invoice</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">Validation</a></li>
                    <div class = "vertical-line"></div>
                    <li><a href = "#">System</a></li>
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                   
                </ul>
            </div>
        </section><br><br>
       
    </body>
</html>
