<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <link rel="stylesheet" href="/billing.css" />
    <script src="requestor.js"></script>
    <script src="billing.js"></script>
    <title>BILLING</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse" style="background-color: #12192c">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            class="navbar-toggle"
            type="button"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span><span class="icon-bar"></span
            ><span class="icon-bar"></span>
          </button>
        </div>
        <a class="navbar-brand" href="#">INVOICE VALIDATOR</a>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="#">Billing</a></li>
            <li><a href="/about">About us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="background">
      <img
        src="https://img.freepik.com/free-vector/illustration-data-analysis-graph_53876-18130.jpg?w=1380&t=st=1682416995~exp=1682417595~hmac=81342bceb9271b338d2367311119859b253ef129ceee4e233aa78f5dbecce8f9"
        alt=""
      />
    </div>
    <div class="formcontainer">
      <form id="bill-form" action="#">
        <h2 id="heading">BILLING DETAILS</h2>
        <div class="form-group">
            <div class="row">
            <label for="prod">Name :</label>
            <select name="products" id="prod">
              <option value="select">Select a Name</option>
              <option value="64477352c700bb82014dc540">Book</option>
              <option value="64477352c700bb82014dc541">Pen</option>
              <option value="64477352c700bb82014dc542">Eraser</option>
              <option value="64477352c700bb82014dc543">Pencil</option>
            </select>
          </div>
          <div class="row">
            <label for="quantity">Quantity:</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              min="1"
              max="4"
              />
            </div>
          </div>
          
            <input type="button" value="Submit" id="submit" />
      </form>
      
      <div class="table">
        <table id="prod-list">
        <thead>
        <tr>
        <th>Sl No</th>
        <th>PRODUCT LIST</th>
        <th>QUANTITY</th>
        <th>PRICE</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
        <td>Pencil</td>
        <td>3</td>
        <td>20</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Sanitizer</td>
          <td>2</td>
          <td>100</td>
          </tr>
        <tr>
          <td>3</td>
            <td>Book</td>
            <td>3</td>
            <td>50</td>
            </tr>
        <tr><td>
        </td>
        <td>
        </td>
        <td>Total</td><td>410</td>
        </tr>
        </tbody>
        </table>
        <input type="button" value="Checkout" id="makepdf">
      </div>
    </div>
  </body>
  
</html>
